body {
    background-color: grey;
}
.header ul .kasztan {
    width: 50px;
    height: 50px;
    color: white;
    fill: white;
}

.topbar {
    list-style: none;
}

.topbar_item {
    display: inline-block;
}